<div class="login">
<%= bootstrap_form_for @user do |f| %>

<div><%= f.text_field :name, label: "Username"%></div>


<div><%= f.text_field :email%></div>


<div><%= f.password_field :password %></div>

<div><%= f.password_field :password_confirmation %></div>

<div><%= f.submit %></div>

<% end %>
</div>
