<h3>Weather for Seattle, WA:</h3>
<p>Current temperature: <%= temperature %>°</p>
<p>Current weather: <%= description %></p>
<p><%= image_tag icon %></p>
<p><%= detailed_description %></p>
<p>Humidity: <%= humidity %>%</p>
<p>Wind: <%= wind_speed %> mps</p>
