<% if session[:user_id] != nil  %>

  <%= bootstrap_form_for @meeting do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :date, :id => "event_datepicker"%>
    <%= f.text_area :content %>
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <%= f.submit %>
  <% end %>





<% else %>



<div></div>


<% end %>

<div class= "calendar_style">
<%= month_calendar events: @meetings1 do |date, meetings1| %>
<%= date.strftime('%d') %>

<% meetings1.each do |meeting1| %>

<div class ="event_btn">
   <div class="btn-group">
     <button type="button" id= "cal_button" class="btn btn-success btn-xs">          <%= link_to meeting1.title, show_event_path(meeting1.id)  %>
     </button>
     <button type="button" class="btn btn-success btn-xs dropdown-toggle " data-toggle="dropdown" aria-expanded="false">

      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
      <ul class="dropdown-menu" role="menu">
          <p><%= meeting1.content %></p>
          <%= meeting1.user.name %>
      </ul>
    </div>
</div>
<% end %>
<% end %>



<!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger">Action</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>

  </button>
