


<div  class="panel panel-success" id="home">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @event.title %></h3></div>

    <table class="table table-hover">

      <tr>
        <td>
          <%= @event.date.strftime("%B %d, %Y")%>
        </td>
        <td><%= @event.content %></td>
        <td><% if @event.user_id != nil%>
          <%= @event.user.name %>
          <% end %>
        </td>
        <td>
          <% if current_user_match %>

          <%= button_to "Edit", "/events/#{@event.id}/edit", {class: 'btn btn-info'} %>

          <% else %>
          <div></div>
          <% end %>
        </td>
      </tr>


    </table>

  </div>
