<div class= "container">
  <% if session[:user_id] != nil && current_user.status == "admin" %>

    <%= bootstrap_form_for @post, class: "new-post-form" do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :content %>
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <%= f.submit %>
    <% end %>

  <% else %>

    <div></div>

  <% end %>
</div>
