<!DOCTYPE html>


<html>
<head>
  <title>PPatchMediumspringgreen</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <%= favicon_link_tag 'favicon.ico' %>

</head>

<body>


  <div class="header">

    <% login_user %>
    <%= render "/home/index_login" %>

  </div>




  <div class = "container-fluid">
    <div class="row">
      <div class="weather-bar col-xs-12">
        <%= render "home/weather" %>
      </div>
    </div>

  </div>



  <div class="container-fluid">
    <%= yield %>
  </div>


</body>
</html>
